@for $i from 1 through 10 {
  .p-#{$i} {
    padding: #{$i}rem;
  }
  .m-#{$i} {
    margin: #{$i}rem;
  }
  .pt-#{$i} {
    padding-top: #{$i}rem;
  }
  //   ....
}
// =======mixin========

@mixin center {
  display: grid;
  place-items: center;
}
@mixin slideAndFade($move) {
  position: relative;
  animation: animation-1 1s ease-in-out forwards;
  @keyframes animation-1 {
    from {
      transform: translateX($move);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
}

@mixin changBg {
  animation: pulse 1s ease-in-out;

  @keyframes pulse {
    0% {
      background: #fef6f5;
      transform: scale(1);
    }

    25% {
      background: darken(#fef6f5, 10%);
      transform: scale(1.015);
    }

    50% {
      background: #fef6f5;
      transform: scale(1);
    }
  }
}
@mixin fade-in {
  animation: fade-in 0.8s cubic-bezier(0.25, 0.25, 0.25, 1.25);

  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateX(50%) scale(0); //rotateZ(-60deg)
    }

    100% {
      opacity: 1;
      transform: translateX(0) scale(1); //rotateZ(0deg)
    }
  }
}

@mixin btm($color) {
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: darken($color: $color, $amount: 0);
  padding: 10px 20px;
  text-align: center;
  color: white;
  transition: all .5s ease-out;
  &:hover {
    background-color: darken($color: $color, $amount: 15%);
  }
}

@mixin underLineAnimation($color) {
  color: $color;
  font-weight: bold;
  margin-top: 5px;
  position: relative;
  &::after {
    transition: all 400ms ease;
    position: absolute;
    content: "";
    width: 0;
    height: 2px;
    background-color: darken($color: $color, $amount: 20%);
    left: 0;
    bottom: -2px;
  }
  &:hover {
    &::after {
      width: 100%;
    }
  }
}
.input-group {
  position: relative;
  margin-bottom: 1.5rem;
  input {
    width: 100%;
    height: 50px;
    // margin-bottom: 15px;
    padding: 12px;
    border-radius: 8px;
    font-size: 16px;
    color: #1d1d1d;
    font-family: inherit;
    outline: none;
    border: 1px solid #ddd;
    transition: all 0.2s ease-in-out;
    &::placeholder {
      color: transparent;
    }
    // &:focus {
    //   border-width: 2px;
    // }
    & + label {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      // left: 10px;
      right: 20px;
      cursor: text;
      color: gray;
      transition: 0.2s;
      pointer-events: none;
    }
    &:focus + label,
    &:focus:not(:placeholder-shown) + label {
      transform: inherit;
      top: 5px;
      font-size: 0.75rem;
      // font-size: 100px;
      color: #555;
    }
  }
}
