@for $i from 1 through 10 {
  .p-#{$i} {
    padding: #{$i}rem;
  }
  .m-#{$i} {
    margin: #{$i}rem;
  }
  .pt-#{$i} {
    padding-top: #{$i}rem;
  }
  //   ....
}
// =======mixin========

@mixin center {
  display: grid;
  place-items: center;
}
@mixin slideAndFade($move) {
  position: relative;
  animation: animation-1 1s ease-in-out forwards;
  @keyframes animation-1 {
    from {
      transform: translateX($move);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
}

@mixin changBg {
  animation: pulse 1s ease-in-out;

  @keyframes pulse {
    0% {
      background: #fef6f5;
      transform: scale(1);
    }

    25% {
      background: darken(#fef6f5, 10%);
      transform: scale(1.015);
    }

    50% {
      background: #fef6f5;
      transform: scale(1);
    }
  }
}
@mixin fade-in {
  animation: fade-in 0.8s cubic-bezier(0.25, 0.25, 0.25, 1.25);

  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateX(50%) scale(0); //rotateZ(-60deg)
    }

    100% {
      opacity: 1;
      transform: translateX(0) scale(1); //rotateZ(0deg)
    }
  }
}
