// inetalizer css
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

// =============helper class=================
.shadow {
  box-shadow: 3px 2px red;
}

// input {
//   width: 100%;
//   padding: 12px;
//   margin-bottom: 15px;
//   border: 1px solid #ddd;
//   border-radius: 8px;
//   font-size: 16px;
// }

