// inetalizer css
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

// =============helper class=================
.shadow {
  text-shadow: 3px 2px red;
}