section {
  direction: rtl;
  @include center;
  height: 100dvh;
  background-color: #fef6f5;
  .login-container {
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 90%;
    @include slideAndFade(200px);
    padding: 30px 20px;
    // @include changBg;
    text-align: center;
    border-radius: 12px;
    form {
      // @include fade-in;
      .btn {
        @include btm(#e63946);
        font-size: 20px;
      }
      // input:focus{
      //   border: none;
      //   outline: none;
      // }
    }
    h2 {
      color: #b71c1c;
      margin-bottom: 20px;
    }

    .links {
      margin-top: 20px;
      text-align: center;
      p {
        margin-bottom: 5px;
      }
      a {
        @include underLineAnimation(#b71c1c);
      }
    }
  }
}
