
@import'./base/base';
@import'./abstracts/abstracts';


@import "../sass/pages/home";
@import "../sass/pages/login";
@import "../sass/pages/signUp";
@import "../sass/pages/settings";
@import "../sass/pages/search_request";
@import "../sass/pages/request_status";
@import "../sass/pages/request_form";
@import "../sass/pages/request_donation";
@import "../sass/pages/profile";
@import "../sass/pages/donor_form";
@import "../sass/pages/details_request";
@import "../sass/pages/dashboard_admin";
@import "../sass/pages/Confirm_request";
@import'../sass/pages/Confirm_donation'
